# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Aporia.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\User\Documents\Game\Atrey\Aporia\.idea\.idea.Aporia\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
